<div class="hentry" id="{{ page.id }}">
  <h2 class="entry-title">
    <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
  </h2>

  {% if page.author %}
    <div class="vcard">
      Posted by <span class="fn">{{ page.author }}</span>
    </div>
  {% endif %}

  <abbr class="published" title="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date_to_string }}
  </abbr>

  <br class="clear"/>

  <div class="entry-content">
    {{ content }}
  </div>

  <ul class="meta">
    {% if page.tags != empty %}
      <li>Tags:
        {% for tag in page.tags %}
          <a href="{{ site.url }}/tags/#{{ tag | xml_escape }}">{{ tag | xml_escape }}</a>
        {% endfor %}
      </li>
    {% endif %}

    <li>Meta:
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark">permalink</a>
      {% if site.feed != empty %}
        <a href="{{ site.feed }}">atom</a>
      {% endif %}
    </li>

    <li>Share:
      <span class="sbookmark">
        <a href="http://del.icio.us/post?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/delicious.png" alt="del.icio.us" title="del.icio.us" border="0"></a>
        <a href="http://digg.com/submit?phase=2&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/digg.png" alt="Digg this" title="Digg this" border="0"></a>
        <a href="http://slashdot.org/slashdot-it.pl?op=basic&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/slashdot.png" alt="Slashdot it" title="Slashdot it" border="0"></a>
        <a href="http://www.sphinn.com/submit.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/sphinn.png" alt="Spinn" title="Sphinn" border="0"></a>
        <a href="http://www.furl.net/storeIt.jsp?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/furl.png" alt="Furl" title="Furl" border="0"></a>
        <a href="http://ma.gnolia.com/bookmarklet/add?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/magnolia.png" alt="Magnolia" title="Magnolia" border="0"></a>
        <a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/stumbleupon.png" alt="Stumbleupon" title="Stumbleupon" border="0"></a>
        <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/reddit.png" alt="Reddit" title="Reddit" border="0"></a>
        <a href="http://www.spurl.net/spurl.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/spurl.png" alt="Spurl" title="Spurl" border="0"></a>
        <a href="http://www.google.com/bookmarks/mark?op=edit&bkmk={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/google2.png" alt="Google Bookmarks" title="Google Bookmarks" border="0"></a>
      </span>
    </li>
  </ul>

  <!-- sharethis -->
  {% if site.sharethis != empty %}
    {{ site.sharethis }}
  {% endif %}

  <!-- disqus_view_comments -->
  {% if site.disqus_view_comments != empty %}
    <a href="{{ site.url }}{{ page.url }}{{ site.disqus_view_comments }}">View Comments</a>
  {% endif %}

  <!-- disqus_thread -->
  {% if site.disqus_thread != empty %}
    {{ site.disqus_thread }}
  {% endif %}
</div>
