<div class="hentry" id="{{ page.id }}">
  <h2 class="entry-title">
    <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
  </h2>

  {% if site.author %}
    {% if site.author.postedby %}
      {% if page.author %}
        <div class="vcard">
          Posted by <span class="fn">{{ page.author }}</span>
        </div>
      {% else %}
        <div class="vcard">
          Posted by <span class="fn">{{ site.author.name }}</span>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}

  <abbr class="published" title="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date_to_string }}
  </abbr>

  <br class="clear"/>

  <div class="entry-content">
    {{ content }}
  </div>

  <ul class="meta">
    {% if page.tags %}
      {% if page.tags.size > 0 %}
        <li>Tags:
          {% for tag in page.tags %}
            <a href="{{ site.url }}/tags/#{{ tag | xml_escape }}">{{ tag | xml_escape }}</a>
          {% endfor %}
        </li>
      {% endif %}
    {% endif %}

    <li>Meta:
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark">permalink</a>
      <a href="{{ site.feed }}">atom</a>
    </li>

    <li>Share:
      <span class="sbookmark">
        <a href="http://del.icio.us/post?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/delicious.png" alt="del.icio.us" title="del.icio.us" border="0"></a>
        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/facebook.png" alt="Facebook" title="Facebook" border="0"></a>
        <a href="http://www.technorati.com/faves?add={{ site.url }}{{ page.url }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/technorati.png" alt="Technorati" title="Technorati" border="0"></a>
        <a href="http://digg.com/submit?phase=2&url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/digg.png" alt="Digg this" title="Digg this" border="0"></a>
        <a href="http://slashdot.org/slashdot-it.pl?op=basic&url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/slashdot.png" alt="Slashdot it" title="Slashdot it" border="0"></a>
        <a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/stumbleupon.png" alt="StumbleUpon" title="StumbleUpon" border="0"></a>
        <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/reddit.png" alt="Reddit" title="Reddit" border="0"></a>
        <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/linkedin.png" alt="Linkedin" title="Linkedin" border="0"></a>
        <a href="http://www.sphinn.com/submit.php?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/sphinn.png" alt="Spinn" title="Sphinn" border="0"></a>
        <a href="http://www.furl.net/storeIt.jsp?u={{ site.url }}{{ page.url }}&t={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/furl.png" alt="Furl" title="Furl" border="0"></a>
        <a href="http://ma.gnolia.com/bookmarklet/add?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/magnolia.png" alt="Magnolia" title="Magnolia" border="0"></a>
        <a href="http://www.spurl.net/spurl.php?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/spurl.png" alt="Spurl" title="Spurl" border="0"></a>
        <a href="http://www.netvouz.com/action/submitBookmark?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}&popup=no" target="_blank"><img src="{{ site.url }}/images/sbuttons/netvouz.png" alt="Netvouz" title="Netvouz" border="0"></a>
        <a href="http://designfloat.com/submit.php?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/designfloat.png" alt="Design Float" title="Design Float" border="0"></a>
        <a href="http://dzone.com/links/add.html?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/dzone.png" alt="DZone" title="DZone" border="0"></a>
        <a href="http://scriptandstyle.com/submit?url={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/scriptandstyle.png" alt="Script and Style" title="Script and Style" border="0"></a>
        <a href="http://tipd.com/submit.php?url={{ site.url }}{{ page.url }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/tipd.png" alt="Tipd" title="Tipd" border="0"></a>
        <a href="http://buzz.yahoo.com/submit?u={{ site.url }}{{ page.url }}&submitUrl={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/yahoobuzz.png" alt="Yahoo! Buzz" title="Yahoo! Buzz" border="0"></a>
        <a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u={{ site.url }}{{ page.url }}&t={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/yahoomyweb.png" alt="Yahoo! MyWeb" title="Yahoo! MyWeb" border="0"></a>
        <a href="http://twitter.com/home?status={{ site.title }}: {{ page.title }}: {{ site.url }}{{ page.url }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/twitter.png" alt="Twitter" title="Twitter" border="0"></a>
        <a href="http://www.google.com/bookmarks/mark?op=edit&bkmk={{ site.url }}{{ page.url }}&title={{ site.title }} - {{ page.title }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/google2.png" alt="Google Bookmarks" title="Google Bookmarks" border="0"></a>
        <!-- addthis_toolbox -->
        {% if site.addthis %}
          {% if site.addthis.toolbox %}
            <a href="http://www.addthis.com/bookmark.php?v=250&pub={{ site.addthis.username }}" onmouseover="return addthis_open(this, '', '{{ site.url }}{{ page.url }}', '{{ page.title }}')" onmouseout="addthis_close();" onclick="return addthis_sendto();" target="_blank"><img src="{{ site.url }}/images/sbuttons/addthis.png" alt="AddThis" title="AddThis" border="0"></a>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub={{ site.addthis.username }}"></script>
          {% endif %}
        {% endif %}
      </span>
    </li>
  </ul>

  <!-- sharethis -->
  {% if site.sharethis %}
    {{ site.sharethis }}
  {% endif %}

  <!-- favorites -->
  <script src="{{ site.url }}/javascripts/favorites.js" type="text/javascript"></script>
  <a href="javascript:addToFavorites('{{ site.title }} - {{ page.title }}', '{{ site.url }}{{ page.url }}')" title="Add to Favorites">Favorites</a>

  <!-- disqus -->
  {% if site.disqus %}
    {% if site.disqus.enable %}
      <!-- disqus_view_comments -->
      {% if site.disqus.permalink_is_a_directory %}
        <a href="{{ site.url }}{{ page.url }}/#disqus_thread">View Comments</a>
      {% else %}
        <a href="{{ site.url }}{{ page.url }}#disqus_thread">View Comments</a>
      {% endif %}
      <!-- disqus_thread -->
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/{{ site.disqus.shortname }}/embed.js"></script>
      <noscript><a href="http://{{ site.disqus.shortname }}.disqus.com/?url=ref">View the discussion thread</a></noscript>
    {% endif %}
  {% endif %}

  <!-- google_friend_connect comments -->
  {% if site.google_friend_connect %}
    {% if site.google_friend_connect.enable %}
        {% if site.google_friend_connect.comments %}
          <!-- Define the div tag where the gadget will be inserted. -->
          <div id="div-5553560152475262341" style="border:1px solid #cccccc;"></div>
          <!-- Render the gadget into a div. -->
          <script type="text/javascript">
          var skin = {};
          skin['BORDER_COLOR'] = '#cccccc';
          skin['ENDCAP_BG_COLOR'] = '#e0ecff';
          skin['ENDCAP_TEXT_COLOR'] = '#333333';
          skin['ENDCAP_LINK_COLOR'] = '#0000cc';
          skin['ALTERNATE_BG_COLOR'] = '#ffffff';
          skin['CONTENT_BG_COLOR'] = '#ffffff';
          skin['CONTENT_LINK_COLOR'] = '#0000cc';
          skin['CONTENT_TEXT_COLOR'] = '#333333';
          skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
          skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
          skin['CONTENT_HEADLINE_COLOR'] = '#333333';
          skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
          skin['HEADER_TEXT'] = 'Comments';
          skin['POSTS_PER_PAGE'] = '15';
          google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
          google.friendconnect.container.renderWallGadget(
           { id: 'div-5553560152475262341',
             site: '{{ site.google_friend_connect.site_id }}',
             'view-params':{"disableMinMax":"true","scope":"PAGE","allowAnonymousPost":"true","features":"video,comment","startMaximized":"true"}
           },
            skin);
          </script>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
