---
layout: default
---
<div id="home">
  {% assign posts = site.posts %}

  {% comment %}
  {% include postlist.html %}
  {% endcomment %}

  <ul class="posts">
    {% for post in site.posts %}
      <div class="date-header">
        {{ post.date | date_to_string }}
      </div>

      <li><span>
        <a href="{{ site.url }}{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
      </span></li>

      <div class="post-body">
        {{ post.content }}
      </div>
    {% endfor %}
  </ul>
</div>

{{ site.google_analytics }}
