---
layout: default
---
<div id="home">
  {% assign posts = site.posts %}

  {% comment %}
  {% include postlist.html %}
  {% endcomment %}

  <ul class="posts">
    {% for post in site.posts %}
      <h2 class="date-header">
        {{ post.date | date_to_string }}
      </h2>
      <li>
        <span><a href="{{ site.url }}{{ post.url }}"><h3 class="post-title">{{ post.title }}</h3></a></span>
      </li>
      <div class="post-body">
        {{ post.content }}
      </div>
    {% endfor %}
  </ul>
</div>

{{ site.google_analytics }}
