.CurriculoTitulo {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 100%; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: left
}
.CurriculoOrigemXML {
	MARGIN-TOP: 7px; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 100%; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: left
}
.CurriculoTituloNome {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 150%; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: left
}
.IndiceTabela {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; WIDTH: 100%; PADDING-TOP: 15px
}
.IndiceTabelaLinks {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; WIDTH: 80%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px; cellpadding: 0; cols: 6
}
.IndiceLinha {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.IndiceCelula {
	FONT-SIZE: 8pt; WIDTH: 150px; FONT-FAMILY: Arial,Helvetica; font-align: left
}
.GrupoTitulo {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; FONT-FAMILY: Arial,Helvetica; font-align: left
}
.TituloBolsa {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetiva; font-align: left
}
.IndicProdTabela {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.IndicProdTabela IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.IndicProdTabelaLinha {
	BACKGROUND-COLOR: transparent; valign: top; align: left
}
.IndicProdTabelaCelula95t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; BORDER-LEFT: transparent 10px solid; WIDTH: 741px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.IndicProdTabelaCelula5t {
	BORDER-RIGHT: transparent 10px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; WIDTH: 39px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: right
}
.OutraInfRelvanteCelula {
	FONT-SIZE: 10pt; WIDTH: 770px; COLOR: #666666; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.IndicProdTabelaCelula95 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; BORDER-LEFT: transparent 10px solid; WIDTH: 741px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: #d8e1ed; TEXT-ALIGN: left
}
.IndicProdTabelaCelula5 {
	BORDER-RIGHT: transparent 10px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; WIDTH: 39px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: #d8e1ed; TEXT-ALIGN: right
}
.IndicProdTabelaCelulaTot95 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; WIDTH: 741px; COLOR: #666666; TEXT-ALIGN: left
}
.IndicProdTabelaCelulaTot5 {
	FONT-SIZE: 10pt; WIDTH: 39px; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: right
}
.IndiceVoltar {
	DISPLAY: block; BACKGROUND: url(../images/curriculo/voltar.gif); FLOAT: right; WIDTH: 16px; HEIGHT: 16px
}
.LinhaRodape {
	FONT-SIZE: 8pt; COLOR: #000099; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent
}
.DadGerTabelaCelula26 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: right
}
.DadGerTabelaCelula74 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.DadGerTabelaCelula10 {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; WIDTH: 146px; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.DadGerTabelaCelula10Gray {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #666666; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.DadGerTabelaCelula90 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.AtuaProfDisciplina {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.AtuaProfTabelaLinha {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; TEXT-ALIGN: right
}
.AtuaProfTabelaCelula95 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 1px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: #006699; TEXT-ALIGN: left
}
.AtuaProfTabelaCelula13T {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; WIDTH: 130px; COLOR: #666666; TEXT-ALIGN: right
}
.AtuaProfTabelaCelula74T {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.AtuaProfTabelaCelula13TC1 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; FONT-STYLE: italic; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.AtuaProfTabelaCelulaTCont {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.AtuaProfTabelaCelulaDescr74 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.LinhaDePesquisa5 {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.LinhaDePesquisa95 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.LinhaDePesquisa95B {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.AtuaProfTabelaCelula13D {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.AtuaProfTabelaCelula13 {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.AtuaProfTabelaCelula74 {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; WIDTH: 624px; COLOR: #666666; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.AreadeAtuacaoCelula5 {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.AreadeAtuacaoCelula95 {
	FONT-SIZE: 10pt; WIDTH: 741px; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.ProdBibliTitCelula90 {
	FONT-SIZE: 10pt; WIDTH: 90%; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.ProdBibliCelula10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 39px; COLOR: #006699; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: right
}
.ProdBibliCelula90 {
	FONT-SIZE: 10pt; WIDTH: 87%; FONT-FAMILY: Arial,Helvetica; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left
}
.ProdBibliCelulaCont {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: left
}
.TextoRelev {
	COLOR: blue
}
.FormAcademicaCelulaCont10 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/curriculo/marcadagualattes.gif) no-repeat 95% 140px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
HTML {
	BACKGROUND: url(../images/curriculo/marcadagualattes.gif) no-repeat 95% 100%
}
TABLE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TR {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.agrupadorsub {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
.textoProducao {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.borda {
	BORDER-RIGHT: #00529b 1px solid; BACKGROUND-POSITION: right bottom; BORDER-TOP: #00529b 1px solid; BACKGROUND-IMAGE: url(../images/curriculo/fundo2.jpg); BORDER-LEFT: #00529b 1px solid; BORDER-BOTTOM: #00529b 1px solid; BACKGROUND-REPEAT: no-repeat
}
.titulo {
	FONT-SIZE: 18px; VERTICAL-ALIGN: top; COLOR: #666666
}
.subtitulo {
	FONT-SIZE: 14px; COLOR: #666666
}
.texto {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: left
}
.link {
	FONT-SIZE: 11px; COLOR: #000099
}
.linkCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #006699
}
.fundo {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/curriculo/marcadagualattes.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
.campos {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #666666; TEXT-ALIGN: right
}
.ano {
	BACKGROUND-POSITION: right top; FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #006699; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.agrupador {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #006699
}
.detalhe {
	FONT-SIZE: 10px; COLOR: #666666
}
.outrasbases A {
	FONT-SIZE: 10px; COLOR: #006699; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.link-drop-out {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #00659c; FONT-FAMILY: arial
}
.link-drop-sub {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: rgb(255,153,0); FONT-FAMILY: arial
}
A#link-drop-inner {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: rgb(255,255,255) 1px solid; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: rgb(255,255,255); PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: 11px/12px arial; BORDER-LEFT: #cccccc 1px solid; COLOR: rgb(255,153,0); PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
A#link-drop-inner:hover {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: #cccccc; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
#link-drop IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#link-drop UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#link-drop LI {
	Z-INDEX: 50; FLOAT: left; POSITION: relative
}
#link-drop UL UL LI {
	Z-INDEX: 10; WIDTH: 100%
}
#link-drop UL UL {
	LEFT: 0%; WIDTH: 100%; POSITION: absolute; TOP: 18px
}
#link-drop UL UL UL {
	LEFT: 100%; WIDTH: 100%; POSITION: absolute; TOP: 0px
}
#link-drop UL UL {
	DISPLAY: none
}
#link-drop UL UL UL LI {
	DISPLAY: none
}
#link-drop UL UL UL {
	WIDTH: 250px
}
#link-drop UL UL UL.menor {
	WIDTH: 80px
}
#link-drop UL LI:hover UL {
	DISPLAY: block
}
#link-drop UL UL LI:hover UL LI {
	DISPLAY: block
}
B.black {
	COLOR: #000
}
A.aba {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN-RIGHT: 5px; TEXT-DECORATION: none
}
A.aba:visited {
	DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN-RIGHT: 5px; TEXT-DECORATION: none
}
A.aba:hover {
	CURSOR: default
}
.b1 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden
}
.b2 {
	DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden
}
.b1 {
	HEIGHT: 1px
}
.b2 {
	HEIGHT: 1px
}
.b1 {
	BACKGROUND: #00529b; MARGIN: 0px 3px
}
.b2 {
	BORDER-RIGHT: #00529b 2px solid; BACKGROUND: url(../images/curriculo/background.gif) left 50%; MARGIN: 0px 1px; BORDER-LEFT: #00529b 2px solid
}
.aba IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT-WIDTH: 0px
}
#caixa {
	CLEAR: both; WIDTH: 746px
}
#caixa P {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px 10px; PADDING-TOP: 0.5em; LETTER-SPACING: 1px; TEXT-ALIGN: justify
}
#minimizar {
	PADDING-RIGHT: 4px; MARGIN-TOP: 1px; PADDING-LEFT: 4px; FLOAT: right; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px
}
#titulo {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #00529b 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 4px; BORDER-LEFT: #00529b 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #00529b 0px solid
}
.area-texto {
	BORDER-RIGHT: #00529b 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #00529b 0px solid; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(fundo2.jpg) no-repeat 100% 100%; PADDING-BOTTOM: 15px; BORDER-LEFT: #00529b 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #00529b 0px solid
}
.area-texto IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.top {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.bottom {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #00529b 1px solid
}
.b-um {
	DISPLAY: block; OVERFLOW: hidden
}
.b-dois {
	DISPLAY: block; OVERFLOW: hidden
}
.b-tres {
	DISPLAY: block; OVERFLOW: hidden
}
.b-quatro {
	DISPLAY: block; OVERFLOW: hidden
}
.b-um {
	HEIGHT: 1px
}
.b-dois {
	HEIGHT: 1px
}
.b-tres {
	HEIGHT: 1px
}
.b-dois {
	BORDER-RIGHT: #00529b 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #00529b 1px solid
}
.b-tres {
	BORDER-RIGHT: #00529b 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #00529b 1px solid
}
.b-quatro {
	BORDER-RIGHT: #00529b 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #00529b 1px solid
}
.b-um {
	BACKGROUND: #00529b; MARGIN: 0px 5px 0px 0px
}
.b-dois {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 3px 0px 0px; BORDER-RIGHT-WIDTH: 2px
}
.b-tres {
	MARGIN: 0px 2px 0px 0px
}
.b-quatro {
	MARGIN: 0px 1px 0px 0px; HEIGHT: 2px
}
A.link2 {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 183px; COLOR: #006699; PADDING-TOP: 5px
}
.containerSmall {
	CLEAR: both; WIDTH: 746px; HEIGHT: 0px
}
.linha {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(../images/curriculo/fundo2.jpg); MARGIN: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px
}
.linha IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 15px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN-RIGHT: 0px; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.labelInfoCitaco {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; COLOR: #666666; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.valorInfoCitaco {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; COLOR: #666666; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.linkOutrasBasesTitulo {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666
}
.linkHistorico {
	LEFT: -275px; FLOAT: left; POSITION: relative; TOP: -2px
}
.carimbo {
	LEFT: 45px; FLOAT: left; POSITION: relative; TOP: -7px
}
.citacoesDOI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative; TOP: 0px
}
.menu {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0px; Z-INDEX: 888; BACKGROUND: url(../images/curriculo/backgroundmenu.gif); LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #aaa 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #aaa 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 0px; HEIGHT: auto; TEXT-ALIGN: left
}
.menu LI {
	DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; MARGIN: 0px
}
.menu A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px 0px; FONT: bold 11px/16px arial; COLOR: #00529b; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-DECORATION: none; outline: 0
}
.menu LI .submenu {
	DISPLAY: none
}
.menu LI .submenu_2 {
	DISPLAY: none
}
.menu LI:hover {
	BACKGROUND: url(../images/curriculo/left.png) no-repeat 0% 60%; POSITION: relative
}
.menu LI:hover > A {
	BACKGROUND: url(../images/curriculo/right.png) no-repeat 100% 0%; COLOR: #fff
}
.menu LI.selecionado {
	BACKGROUND: url(../images/curriculo/left.png) no-repeat 0% 60%; POSITION: relative
}
.menu LI.selecionado > A {
	BACKGROUND: url(../images/curriculo/right.png) no-repeat 100% 0%
}
.menu LI:hover .submenu {
	DISPLAY: block; LEFT: 0px; POSITION: absolute; TOP: 19px
}
.menu UL LI:hover .submenu_2 {
	DISPLAY: block; LEFT: 50%; POSITION: absolute; TOP: 10px
}
.menu LI .submenu A {
	COLOR: #555
}
.menu LI.idioma {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.menu LI.idioma A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.menu LI.idioma:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu LI.idioma:hover A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu LI A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 1px 0px; BORDER-RIGHT-WIDTH: 0px
}
.submenu {
	BORDER-RIGHT: #ccc 2px outset; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 2px outset; PADDING-LEFT: 3px; Z-INDEX: 999; BACKGROUND: #f5fafc; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #ccc 2px outset; WIDTH: 155px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 2px outset; LIST-STYLE-TYPE: none; HEIGHT: auto
}
.submenu_2 {
	BORDER-RIGHT: #ccc 2px outset; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 2px outset; PADDING-LEFT: 3px; Z-INDEX: 999; BACKGROUND: #f5fafc; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #ccc 2px outset; WIDTH: 180px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 2px outset; LIST-STYLE-TYPE: none; HEIGHT: auto
}
.submenu LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.submenu_2 LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.submenu A {
	BORDER-RIGHT: transparent 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: transparent 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FLOAT: none; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: 11px arial; BORDER-LEFT: transparent 1px solid; WIDTH: 100%; COLOR: #666; PADDING-TOP: 1px; BORDER-BOTTOM: transparent 1px solid; HEIGHT: auto; TEXT-DECORATION: none; outline: 0
}
.submenu_2 A {
	BORDER-RIGHT: transparent 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: transparent 1px solid; DISPLAY: block; PADDING-LEFT: 3px; FLOAT: none; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: 11px arial; BORDER-LEFT: transparent 1px solid; WIDTH: 100%; COLOR: #666; PADDING-TOP: 1px; BORDER-BOTTOM: transparent 1px solid; HEIGHT: auto; TEXT-DECORATION: none; outline: 0
}
.submenu A:hover {
	BORDER-RIGHT: #b9eaff 1px solid; BORDER-TOP: #b9eaff 1px solid; BACKGROUND: url(../images/curriculo/subitem-hover.jpg) repeat-x; BORDER-LEFT: #b9eaff 1px solid; BORDER-BOTTOM: #b9eaff 1px solid
}
.submenu_2 A:hover {
	BORDER-RIGHT: #b9eaff 1px solid; BORDER-TOP: #b9eaff 1px solid; BACKGROUND: url(../images/curriculo/subitem-hover.jpg) repeat-x; BORDER-LEFT: #b9eaff 1px solid; BORDER-BOTTOM: #b9eaff 1px solid
}
.submenu LI:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.submenu_2 LI:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.submenu LI:hover > A {
	BORDER-RIGHT: #b9eaff 1px solid; BORDER-TOP: #b9eaff 1px solid; BACKGROUND: url(../images/curriculo/subitem-hover.jpg) repeat-x; BORDER-LEFT: #b9eaff 1px solid; BORDER-BOTTOM: #b9eaff 1px solid
}
.submenu_2 LI:hover > A {
	BORDER-RIGHT: #b9eaff 1px solid; BORDER-TOP: #b9eaff 1px solid; BACKGROUND: url(../images/curriculo/subitem-hover.jpg) repeat-x; BORDER-LEFT: #b9eaff 1px solid; BORDER-BOTTOM: #b9eaff 1px solid
}
.submenu .separador {
	BORDER-BOTTOM: #000 1px solid
}
.submenu_2 .separador {
	BORDER-BOTTOM: #000 1px solid
}

@media Print    
{
.menu {
	DISPLAY: none
}
.linha IMG {
	DISPLAY: none
}
    }
.container {
	CLEAR: both; WIDTH: 0px; HEIGHT: 0px
}
.holder {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; BORDER-LEFT: #bbb 1px solid; WIDTH: 755px; BORDER-BOTTOM: #bbb 1px solid; TEXT-ALIGN: left
}
.holder .conteudo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.holder EM {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; FONT: bold 11px arial; COLOR: #3764a0; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; BORDER-BOTTOM: #d1e0f5 2px solid
}
.holder UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.holder UL LI {
	PADDING-LEFT: 5px; MARGIN: 2px 0px; FONT: 11px arial; BORDER-BOTTOM: #aaa 1px dashed
}
.holder LABEL {
	DISPLAY: block; FONT: bold 11px arial; WIDTH: 10%
}
.menu LI.info_complementar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.menu LI.info_complementar A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.menu LI.info_complementar:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu LI.idioma:hover A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu LI.info_complementar IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 10; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 1px 0px; WIDTH: 16px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.citacoes {
	MARGIN: 5px 0px; FONT: 11px arial; WIDTH: 600px; POSITION: relative
}
TABLE.citacoes IMG {
	FLOAT: right; CURSOR: pointer
}
TABLE.citacoes TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; FONT: bold 11px/16px arial; COLOR: #069; PADDING-TOP: 1px; BORDER-BOTTOM: #d1e0f5 2px solid; TEXT-ALIGN: left
}
TABLE.citacoes TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.citacoes B {
	MARGIN-RIGHT: 3px
}
TABLE.citacoes TFOOT TD {
	FONT: 10px arial; PADDING-TOP: 5px; TEXT-ALIGN: center
}
