/*--------------------------------------------------------------
 Local.css
 Add any personal changes that you'd like to make to the theme
 in this template.
 --------------------------------------------------------------*/

#comment-email {
  display: none;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#ribbon a:hover { background: transparent; }

@media print { #ribbon { display: none; } }
