<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  {% if page.title %}
    <title>{{ site.title }} - {{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% if page.author %}
    <meta name="author" content="{{ page.author }}"/>
  {% else if site.author %}
    <meta name="author" content="{{ site.author.name }}"/>
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
  {% else if site.description %}
    <meta name="description" content="{{ site.description }}"/>
  {% endif %}

  <!-- feed -->
  <link href="{{ site.feed }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml"/>

  <!-- style -->
  <link rel="stylesheet" href="{{ site.url }}/stylesheets/application.css" type="text/css"/>
</head>

<body>
<div id="container">
  <div id="header">
      <h1><span>
        <a href="{{ site.url }}">{{ site.title }}</a>
        <a href="{{ site.feed }}" target="_blank"><img src="{{ site.url }}/images/sbuttons/rss.png"/></a>
      </span></h1>
    <h2>{{ site.description }}</h2>
  </div>

  <div id="page">
    <div id="content">
      {{ content }}
    </div>

    <!-- sidebar -->
    <div id="sidebar">
      <!-- search -->
      {% if site.google_cse != empty %}
      <div class="sidebar-node">
        <!-- Google Custom Search Element -->
        <h3>Search (CSE)</h3>
        {{ site.google_cse }}
      </div>
      {% endif %}

      <!-- links -->
      {% if site.links.size > 0 %}
      <div class="sidebar-node">
        <h3>Links</h3>
        <ul>
          {% for link in site.links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- tags -->
      {% if site.tags.size > 0 %}
      <div class="sidebar-node">
        <h3>Tags</h3>
        <ul>
        {% for tag in site.tags %}
          {% assign t = tag.first %}
          <li><a href="{{ site.url }}/tags/#{{ t | xml_escape }}">{{ t | xml_escape }}</a></li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}

{% comment %}
      <!-- archives -->
      {% if section.months.size > 0 %}
      <div class="sidebar-node">
        <h3>Archives</h3>
        <ul>
        {% for month in section.months %}
          <li>{{ section | link_to_month: month }} ({{ section | monthly_articles: month | size }})</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
{% endcomment %}

      <!-- blogroll -->
      {% if site.blogroll.size > 0 %}
      <div class="sidebar-node">
        <h3>Blogroll</h3>
        <ul>
          {% for blog in site.blogroll %}
            <li><a href="{{ blog.url }}" target="_blank">{{ blog.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- feed -->
      {% if site.feed != empty %}
      <div class="sidebar-node">
        <h3>Subscribe</h3>
        <ul>
{% comment %}
          <li><a href="{{ site.feed }}" target="_blank" style="background: url({{ site.url }}/images/rss-small.png) center left no-repeat; padding-left: 18px;">RSS Feed</a></li>
          <li><a href="http://www.bloglines.com/sub/{{ site.feed }}" target="_blank"><img src="{{ site.url }}/images/addbloglines.gif" alt="Subscribe to Bloglines"/></a></li>
          <li><a href="http://fusion.google.com/add?feedurl={{ site.feed | xml_escape }}" target="_blank"><img src="{{ site.url }}/images/addgoogle.gif" alt="Subscribe to Google"/></a></li>
          <li><a href="http://add.my.yahoo.com/rss?url={{ site.feed | xml_escape }}" target="_blank"><img src="{{ site.url }}/images/addmyyahoo.gif" alt="Subscribe to MyYahoo!"/></a></li>
{% endcomment %}

<div>
<form action="http://www.feedmyinbox.com/feeds/subscribe"
style="border:0px solid #ccc;padding:3px;text-align:left;"
target="popupwindow" method="post"
onsubmit="window.open('http://www.feedmyinbox.com/feeds/subscribe',
'popupwindow', 'scrollbars=yes,width=550,height=520');return
true">
<p>Enter your email address:</p>
<p><input style="width:140px" name="data[Account][email]" type="text"/></p>
<input value="{{ site.feed }}" name="data[Feed][url]" type="hidden"/>
<input value="" name="data[subject]" type="hidden"/>
<input value="Subscribe" type="submit"/></form>
</div>

<li>
<a href="{{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/rss.png" alt="RSS Feed" border="0"></a>
<a href="http://fusion.google.com/add?feedurl={{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/google.png" alt="Add to Google" border="0"></a>
<a href="http://add.my.yahoo.com/rss?url={{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/yahoo.png" alt="Add to MyYahoo" border="0"></a>
<a href="http://www.bloglines.com/sub/{{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/bloglines.png" alt="Add to Bloglines" border="0"></a>
<a href="http://www.netvibes.com/subscribe.php?url={{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/netvibes.png" alt="Add to Netvibes" border="0"></a>
<a href="http://www.feedblitz.com/f/f.fbz?track={{ site.feed }}" rel="nofollow"><img src="{{ site.url }}/images/sbuttons/email.png" alt="Add to Feedblitz" border="0"></a>
</li>
        </ul>
      </div>
      {% endif %}

    </div>
    <br style="clear:both;"/>
  </div>

  <!-- footer -->
  <div id="footer">
    <hr/>
    <p><a href="{{ site.url }}">{{ site.title }}</a></p>
    <ul>
      <li>
        made with modified <a href="http://github.com/vilcans/scribbish-jekyll" target="_blank">scribbish-jekyll</a><br/>
        styled with modified <a href="http://quotedprintable.com/pages/scribbish" target="_blank">scribbish</a><br/>
        auto generated with <a href="http://github.com/mojombo/jekyll" target="_blank">mojombo-jekyll</a><br/>
      </li>
    </ul>
  </div>
</div>

<!-- analytics -->
{% if site.google_analytics != empty %}
{{ site.google_analytics }}
{% endif %}

</body>
</html>
