---
layout: default
---
<ul class="posts">
  {% include page.html %}
</ul>

<div class="hentry" id="{{ page.id }}">
  <ul class="posts">
    {% assign p = page.previous %}
    {% if p %}
      <li>Previous: <a href="{{ site.url }}{{ p.url }}" title="{{ p.content | strip_html | truncatewords: 20 }}">{{ p.title }}</a></li>
    {% endif %}

    {% assign p = page.next %}
    {% if p %}
      <li><span>Next: <a href="{{ site.url }}{{ p.url }}" title="{{ p.content | strip_html | truncatewords: 20 }}">{{ p.title }}</a></li>
    {% endif %}
  </ul>
</div>

{% if site.related_posts %}
  {% if site.related_posts.size > 0 %}
    <div id="related">
      <h2>Related Posts</h2>
      <ul class="posts">
        {% for post in site.related_posts limit: site.related_posts_limit %}
          <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.content | strip_html | truncatewords: 20 }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}

<!-- disqus -->
{% if site.disqus %}
  {% if site.disqus.enable %}
    <!-- disqus_thread -->
    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/{{ site.disqus.shortname }}/embed.js"></script>
    <noscript><a href="http://{{ site.disqus.shortname }}.disqus.com/?url=ref">View the discussion thread</a></noscript>
  {% endif %}
{% endif %}

<!-- google_friend_connect-comments -->
{% if site.google_friend_connect %}
  {% if site.google_friend_connect.enable %}
      {% if site.google_friend_connect.comments %}
        <!-- Define the div tag where the gadget will be inserted. -->
        <div id="div-google_friend_connect-comments" style="width:600px;border:1px solid #cccccc;"></div>
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
        var skin = {};
        skin['BORDER_COLOR'] = '#cccccc';
        skin['ENDCAP_BG_COLOR'] = '#ffffff';
        skin['ENDCAP_TEXT_COLOR'] = '#333333';
        skin['ENDCAP_LINK_COLOR'] = '#0000cc';
        skin['ALTERNATE_BG_COLOR'] = '#ffffff';
        skin['CONTENT_BG_COLOR'] = '#ffffff';
        skin['CONTENT_LINK_COLOR'] = '#0000cc';
        skin['CONTENT_TEXT_COLOR'] = '#333333';
        skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
        skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
        skin['CONTENT_HEADLINE_COLOR'] = '#333333';
        skin['DEFAULT_COMMENT_TEXT'] = '- add your comment here -';
        skin['HEADER_TEXT'] = 'Comments';
        skin['POSTS_PER_PAGE'] = '15';
        google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
        google.friendconnect.container.renderWallGadget(
         { id: 'div-google_friend_connect-comments',
           site: '{{ site.google_friend_connect.site_id }}',
           'view-params':{"disableMinMax":"true","scope":"PAGE","allowAnonymousPost":"true","features":"video,comment","startMaximized":"true"}
         },
          skin);
        </script>
    {% endif %}
  {% endif %}
{% endif %}
