---
layout: default
---
<ul class="posts">
  {% include page.html %}
</ul>

<div class="hentry" id="{{ page.id }}">
  <ul class="posts">
    {% assign p = page.previous %}
    {% if p %}
      <li><span>Previous: {{ p.date | date_to_string }}</span> &raquo;
      <a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
    {% endif %}

    {% assign p = page.next %}
    {% if p %}
      <li><span>Next: {{ p.date | date_to_string }}</span> &raquo;
      <a href="{{ site.url }}{{ p.url }}">{{ p.title }}</a></li>
    {% endif %}
  </ul>
</div>

{% if site.related_posts %}
  {% if site.related_posts.size > 0 %}
    <div id="related">
      <h2>Related Posts</h2>
      <ul class="posts">
        {% for post in site.related_posts limit:site.related_posts_limit %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo;
          <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
